.row
  .col-lg-1
  .col-lg-10
= form_for('search', url: search_events_path, method: :get) do |f|
  %fieldset
    = f.label      :name, "Name"
    = f.text_field :name

  %fieldset
    = f.label      :nearby, "Search Nearby"
    = f.text_field :nearby

  %fieldset
    = f.label  :category_name, "Category"
    = f.text_field :category_name

  = f.submit "Search"
  .col-lg-1
.col-lg-1
.col-lg-10.text-center
  %h1 My events
  = render 'events'
  = link_to 'New Event', new_event_path, :class => "btn btn-primary top-10"
  .col-lg-1

